/* Styles for Navbar component */

nav#primary {
    display: block;
	position: relative;	
	width: 100%;
	height: auto;
	margin: 0;
	padding: 40px 0;
	text-align: center;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: none;
}
nav#primary ul {
	display: inline-block;
	position: relative;
	width: 96%;
	max-width: 768px;
	margin: 0 2%;
	padding: 0;
	text-align: left;
}
nav#primary img.mobile-nav {
	display: none;
}

/* primary nav bar */
nav#primary {
	background-color: #28303d;
	height: 32px;
	overflow-y: hidden;
	padding: 0;
	border-top: 2px solid #28303d;
	border-bottom: 2px solid #28303d;
	z-index: 1;
}
nav#primary.stuck {
	position: fixed;
	top: 0;
}
nav#primary ul {
	margin: 0;
}
nav#primary ul li {
	display: inline-block;
	position: relative;
	width: auto;
	height: 100%;
	clear: none;
	margin: 0 5px 0 0;
	padding: 0;
	text-decoration: none;
	color: #f1f1f1;
	text-decoration: center;
}
nav#primary ul li a,
nav#primary ul li a:visited {
	text-decoration: none;
	color: #f1f1f1;
	height: 100%;
	display: inline-block;
	padding: 5px 10px;
}

/* mobile style */
@media screen and (max-width: 768px) {
	nav#primary {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 40px;
		background-color: transparent;
		border: 0;
	}
	nav#primary img.mobile-nav {
		position: absolute;
		width: 30px;
		height: auto;		
		top: 15px;
		right: 2.5%;
		padding: 5px;
		display: block;
		cursor: pointer;
		z-index: 2;
	}
	nav#primary > ul {
		display: none;
		width: 94%;
		margin: 0 3% 0 auto;
		top: 50px;
		padding: 0;
		border: 2px solid black;
		height: auto;
		overflow-y: visible;
	}
	nav#primary > ul.show {
		display: block;
	}
	nav#primary > ul > li {
		width: 100%;
		margin: 0;
		padding: 0;
		clear: both;
		float: none;
		background-color: black;
	}
	nav#primary > ul > li > a {
		display: inline-block;
		width: 96%;
		padding: 10px 2%;
		margin: 0;

	}	
}

/* primary nav unselected links text color */
nav#primary ul li a,
nav#primary ul li a:visited {
	color: #f1f1f1;
}

/* primary nav selected link background color */
nav#primary ul li:hover {
	background-color: #f1f1f1;
}

nav#primary ul li a.active {
	background-color: #f1f1f1;
	color: black
}

/* primary nav selected link text color */
nav#primary ul li:hover a,
nav#primary ul li:hover a.active,
nav#primary ul li:hover a:hover,
nav#primary ul li:hover a:active,
nav#primary ul li:hover a:visited {
	color: black;
}