/* Styles for Project component */
.category ul li.project {
    background-color: white;    
    border-radius: 0;
    box-sizing: border-box;
    transform: scale(0.95);
    box-shadow: 0 0 4px #96a0ad;
    padding: 0;
    text-align: left;
}
.category ul li.animate-grow-in {
    animation: grow-in 1.0s ease;
    animation-fill-mode: forwards;
}
@keyframes grow-in {
    50% { transform: scale(1.05); }
    100% { transform: scale(1.0); }
}

.category ul li.project a {
    text-decoration: none;
    cursor: pointer;
}
.category ul li.project img {
    width: 100%;
    height: auto;
    margin: 0 0 5px 0;
    box-sizing: content-box;   
}
.category ul li.project div.project-meta {
    width: 90%;
    height: auto;
    margin: 0 5% 5% 5%;
    padding: 0;
    clear: both;
    float: none;
}
.category ul li.project div.project-meta h3 {
    color:#28303d;
    font-size: 24px;
    line-height: 1.2em;
    margin: 5px 0 10px 0;
    padding: 0;
}
.category ul li.project div.project-meta p {
    color: #666666;
    font-size: 16px;
    line-height: 1.2em;
    margin: 5px 0 10px 0;
    padding: 0;
}

/* tablet width */
@media screen and (max-width: 1024px) {
    article h2 {
        font-size: 26px;
        margin-left: 2%;
        margin-bottom: 5px;
    }
}

/* mobile width */
@media screen and (max-width: 640px) {
    section {
        width: 92%;
        margin-left: 2%;
        margin-right: 6%;
    }
}